body {
    font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", Arial, Tahoma, "Times New Roman";
    background: #dedede;
}

*
    {
        margin:0;
        padding:0;
    }
    
    body 
    {
        position: relative;
    }
    /*内边距为10px，字体为粗体*/
    .top
    {
        margin:0px; 
        font-weight:bold;
    }
    
    p 
    {
            padding: 20px;
            margin-right: 20px;
    }

    
    input[type='button']
    {
        padding:5px 8px;
        background-color:#f00; 
        color:#fff; border:none; 
        border-radius:2px;
        width:100px;
        height:40px;
        font-size:13px;
        cursor: pointer;
    }
    #box 
    {
        width: 100px;
        height: 100px;
        border: 5px solid black;
        /*盒子的外边框离窗口左边的距离*/
        margin-left: 20px;
    }
    
    /*这里是创建一个半透明的遮罩覆盖整个窗口*/
    #mask
    {
        position:fixed;  /*对于fixed的样式表示浮动，那么对于后面的就不会被占位了*/
        height:100%;
        width:100%;
        /*颜色是黑色，0.4表示透明度*/
        background: rgba(0,0,0,0.4);
        display:none;
    }
    #settingbox
    {
        width: 350px;
        height: 300px;
        border: 10px solid gray;
        background: white;
        position:absolute;
        bottom:0;
        right:0;
    }
    
    .options
    {
        padding:20px;
    }

    .options span
    {
        display:inline-block;
        border:1px solid black;
        padding:5px;
        margin-left:10px;
        cursor:pointer;
        
    }
    
    #bgRed
    {
        background:#F60;
        width:20px;
        height:20px;
        text-align:center
    }
    #bgYellow
    {
        background:#FF6;
        width:20px;
        height:20px;
        text-align:center
    }
    #bgGreen
    {
        background:#6FF;
        width:20px;
        height:20px;
        text-align:center
    }
    
    .last
    {
        text-align:center;  
    }
    
    .btn
    {
        background-color:#9F0;
    }
