body {
    font-family: "Microsoft YaHei", "微软雅黑", "MicrosoftJhengHei", Arial, Tahoma, "Times New Roman";
    background: #dedede;
}

.main-content h3 {
    font-size: 24px;
    margin: 20px 0px;
}
.box {
    border: 3px solid #333;
    width: 150px;
    height: 150px;
    margin-left: 30px;
    margin-top: 50px;
}

#setBtn {
    width: 90px;
    background: #f00;
    border: none;
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 5px;
}

.mask {
    background-color: #000;
    display: none;
    opacity: 0.7;
    /* Safari, Opera */
    -moz-opacity: 0.70;
    /* FireFox */
    filter: alpha(opacity=70);
    /* IE */
    z-index: 100;
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    position: fixed;
    top: 0px;
    left: 0px;
}

#setdivstyle {
    width: 498px;
    height: 300px;
    border: 5px solid #dedede;
    position: absolute;
    background: #fff;
    z-index:1111;
}

.setDiv-header {
    height: 50px;
    overflow: hidden;
    background: #ff6b25;
}

.setDiv-header a.close {
    float: right;
    cursor: pointer;
    margin-top: 15px;
    margin-right: 15px;
    color:#fff;
    font-size:16px;
}
.setDiv-header{margin-bottom:30px;}
.setdivstyle .list {
    overflow: hidden;
    margin:10px 40px;
}
.setdivstyle .list h3.title{float:left;line-height: 30px; margin-right:15px; width:180px;
    text-align: right;}
.setdivstyle .list span {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border:1px solid #ccc;
    cursor: pointer;
    margin-right:10px;
    line-height: 30px;
    text-align: center;
}

span.red{background: red;}
span.yellow{background: yellow;}
span.blue{background: blue;}
span.w300,span.w400,span.w500,span.h300,span.h400,span.h500{background:#dedede;}




.setDiv-header span.name {
    display: block;
    float: left;
    text-align: center;
    overflow: hidden;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    font-family: 微软雅黑;
    text-indent: 20px;
    width: auto;
    height: auto;
}

.ft-btn{margin-top:30px;float:right;text-align: center;}