.toolbar{display: none;}
.toolbar_item.command_help.help{display: none!important;}
.wrapper{width:980px;margin:0 auto;}
xmp{float:left;}
.part {margin-bottom:30px;}
.part p{text-indent: 2em;}
.wrapper h3{font-size:20px;text-indent:2rem;}
.wrapper h2.tit{font-size:24px;}
textarea{
resize: none;overflow-y:visible;text-align: left;}

p.notice{color:red;}
.demo_pic{margin-bottom: 10px;text-align: center;}
.demo_pic img{max-width:980px;}

.anchor{border-right: 3px solid #2175BC;
    padding-right: 6px;
    font-size: 120%;
    line-height: 1.2;
    display: inline-block;
    margin-bottom: 10px;}
